.homeSCard{
    border: 1px solid hsla(0,0%,100%,.0784313725490196);
    width: 33%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 120px;
    box-shadow: 0 0.5rem 1.3rem rgba(0,0,0,.5215686274509804);
}

.homeSCard-content{
    display: flex;
    flex-direction: column;
}

.homeSCard img{
   margin: 0 1.5em;
}

.homeSCard-title{
    color: #cecece;
    font-size: 15.3px;
}

.homeSCard-value{
    font-size: 2em;
    margin-top:5px ;
    color: white;
}
