.refferalsCard {
  background: #151511;
  box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.5215686274509804);
  border: 1px solid #4d4d4e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  margin: 2em auto;
  padding: 1.5em;
  border-radius: 4px;
}

.refferalsCard-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.refferalsCard-desc {
  font-size: 17.5px;
  margin-bottom: 2.5em;
  text-align: center;
  line-height: 1.4em;
}

.refferal-btn{
    width: 100%;
    padding: 1em 0;
    font-size: 14px;
}

.refferal-btn:hover {
  background: #207a59;
  box-shadow: 0 0 0.4rem 0.6rem rgba(45, 66, 252, 0.2);
}
